<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        메모/ 정리한것들을 온라인으로 보고 공유 하고자 만든 장소
        Python 관련한 정리 및 다녀온 가격 있는 음식점의 정리등을 담고 있는 페이지.
        <!--Check out the <a href="{{'/notes' | relative_url}}"> demo </a>, <a href="{{'/post/features' | relative_url}}"> features </a> and <a href="{{'/post/how-to' | relative_url}}"> how to</a>. -->
        </h3> 
</div> </div>

<title>Two Boxes</title>
<style>
    .box {
        width: 200px;
        height: 100px;
        border: 1px solid black;
        display: inline-block;
    }
</style>
</head>
<body>
<div class="box"></div>
<div class="box"></div>
</body>