
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="box.css">
  </head>
  <body>
    <div class="home-intro">
      <div class="jumbo">{{site.heading}}</div>
      <div class="home-sub-text">
        <h3>메모/ 정리한것들을 온라인으로 보고 공유 하고자 만든 장소 Python 관련한 정리 및 다녀온 가격 있는 음식점의 정리등을 담고 있는 페이지.</h3>
      </div>
      <div class="boxes">
        <a href="{{ '/python' | relative_url }}" class="box">
          <div class="box-content">
            Python
          </div>
        </a>
        <a href="{{ '/food' | relative_url }}" class="box">
          <div class="box-content">
            맛집
          </div>
        </a>
      </div>
    </div>
  </body>
</html>

